doctype html
html(⚡='')
  head
    meta(charset='utf-8')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    // ## Setup
    // Import the carousel component in the header.
    script(async='', custom-element='amp-font', src='https://cdn.ampproject.org/v0/amp-font-0.1.js')
    script(async='', custom-element='amp-carousel', src='https://cdn.ampproject.org/v0/amp-carousel-0.1.js')
    script(async='', custom-element='amp-form', src='https://cdn.ampproject.org/v0/amp-form-0.1.js')
    link(rel='canonical', href='https://ampbyexample.com/components/amp-carousel/')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{background-color: #fcfcfc; -webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    style(amp-custom='').
        body{background-color: #fcfcfc;}
      .circle {  border-radius: 50%;}
      .shp{position: relative; margin-top: -63px; /* float: right; */  margin-left: 27% !important;}
      .card.horizontal {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
       a:link, a:visited , a:hover, a:active  {
                 text-decoration: none;
            }
      .card {
            position: relative;
            margin: .5rem 0 1rem 0;
            background-color: #fff;
            -webkit-transition: -webkit-box-shadow .25s;
            transition: -webkit-box-shadow .25s;
            transition: box-shadow .25s;
            transition: box-shadow .25s, -webkit-box-shadow .25s;
            border-radius: 2px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        }
       .card.horizontal .card-image {
            max-width: 50%;
        }

       .card .card-image {
            position: relative;
        }
       .card.horizontal .card-stacked {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            position: relative;
        }
       .card.horizontal .card-stacked .card-content {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

       .card .card-content {
            padding-left: 24px;
            border-radius: 0 0 2px 2px;
        }
       .card .card-action:last-child {
            border-radius: 0 0 2px 2px;
        }
       .topm{    margin-top: -43%;}
       .card .card-action {
            position: relative;
            background-color: inherit;
            border-top: 1px solid rgba(160,160,160,0.2);
            padding: 16px 24px;
        }
      .x input[type=search], .x input[type=text] {
      position: absolute;
      background: #ededed;
      padding: 0 8px;
      width: 40%;
      top: -9%;
      left: 29%;
      height: 32px;
      font-family: inherit;
      font-size: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      border: solid 0px #ccc;
      border-radius: 0;
      -moz-border-top-left-radius: 4px;
      -moz-border-bottom-left-radius: 4px;
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      }
      .slde{margin-top: -43%;}
      .x input[type=submit] {
      position: absolute;
      right: 29%;
      background-color: #92c6e4;
      background-position: center;
      background-repeat: no-repeat;
      background-image: -webkit-image-set( url(img/search-icon.png) 1x, url(img/search-icon.png) 2x );
      border: 0 none;
      height: 32px;
      top: -9%;
      width: 36px;
      -webkit-appearance: none;
      border-radius: 0;
      -moz-border-top-right-radius: 4px;
      -moz-border-bottom-right-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      }
      input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
      padding: 1px 6px;
      }
      input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
      align-items: flex-start;
      text-align: center;
      cursor: default;
      color: buttontext;
      background-color: buttonface;
      box-sizing: border-box;
      padding: 2px 6px 3px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
      }
      input[type="button" i], input[type="submit" i], input[type="reset" i] {
      -webkit-appearance: push-button;
      user-select: none;
      white-space: pre;
      }
      input {
      -webkit-appearance: textfield;
      background-color: white;
      -webkit-rtl-ordering: logical;
      user-select: text;
      cursor: auto;
      padding: 1px;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
      border-image: initial;
      }
      input, textarea, select, button {
      text-rendering: auto;
      color: initial;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      margin: 0em;
      font: 13.3333px Arial;
      }
      input, textarea, select, button, meter, progress {
      -webkit-writing-mode: horizontal-tb;
      }
      .bgc{    background: #aebfff;}
      /* 40px padding top for the top menu*/
      /*body{padding:40px 32px 4px 32px;}*/
      /* fixed top menu has a 40px height*/
      /*	nav{height:40px;border-bottom:1px solid #ddd;position:fixed;top:0;left:0;right:0;background:#fff;z-index:990;}*/
      /* remove bullets and add transition effect */
      nav ul{list-style-type: none;margin:0;padding:0;transition: transform .75s ease-in-out;  -webkit-transition: transform .75s ease-in-out;}
      /* fixed menu button */
      nav > ul >li{position: fixed;left:36px;top:0px;z-index:991;line-height:40px;}
      /* initial state: hide the menu */
      nav > ul > li > ul{position:fixed;top:0;left:-240px;width:240px;bottom:0;background:#fefefe;z-index:990;padding-top:36px;border-right:1px solid #ddd;  }
      /* Hover state, the menu button has been clicked*/
      /* scroll the menu into the page */
      nav > ul > li:hover > ul{transform: translate3d( 240px, 0, 0 );-webkit-transform: translate3d( 240px, 0, 0 );}
      /* div on top of menu to simulate the close button, delay animation for .75s*/
      #closemenu{position:fixed;top:-40px;left:0;right:0;height:40px; z-index:999; line-height:40px; padding-left:210px;font-size:36px;
      transition: transform .05s ease-in-out;-webkit-transition: transform .05s ease-in-out; -webkit-transition-delay: 0.70s;transition-delay: 0.70s;
      }
      /* the the close menu button, uses ~ selector */
      nav ul:hover  ~ #closemenu{transform: translate3d( 0, 40px, 0 );-webkit-transform: translate3d( 0, 40px, 0 )}
      /* styling */
      nav a{color: #4A8DDD;}
      nav > ul > li > ul > li{font-size:20px;padding:8px 0 8px 8px;border-bottom:1px solid #ddd;}
      nav > ul > li > ul > li >a{display:block; text-decoration:none;padding:8px 0;}
      amp-sidebar {
      width: 250px;
      padding-right: 10px;
      }
      .blue-box, .red-box, .green-box {
      width: 100%;
      height: 280px;
      }
      .blue-box {
      background: blue;
      }
      .green-box {
      background: green;
      }
      #custom-search-input{
      padding: 8px;
      border: solid 1px #E4E4E4;
      border-radius: 6px;
      background-color: #fff;
      width: 50%;
      }
      #custom-search-input input{
      border: 0;
      box-shadow: none;
      }
      #custom-search-input button{
      margin: 2px 0 0 0;
      background: none;
      box-shadow: none;
      border: 0;
      color: #666666;
      padding: 0 8px 0 10px;
      border-left: solid 1px #ccc;
      }
      #custom-search-input button:hover{
      border: 0;
      box-shadow: none;
      border-left: solid 1px #ccc;
      }
      #custom-search-input .glyphicon-search{
      font-size: 23px;
      }
      .red-box {
      background: red;
      }
      .fixed {
      position: relative;
      }
      .ampstart-headerbar {
      background-color:#efefef;
      padding: 10px 9%;
      color: #000;
      z-index: 999;
      box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
      width:100%;
      }
      footer {
      background-color: #fff;
      color: #000;
      width: 100%;
      height: 250px;
      font-size: .75rem;
      padding-top: 7rem;
      padding-bottom: 7rem;
      }
      .nn {
      float: right;
      padding-right: 20px;
      }
      .row .col.s9{width:75%;margin-left:auto;left:auto;right:auto}
      .row .col.s8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}
      .row .col.s3{width:25%;margin-left:auto;left:auto;right:auto}
      .row .col.s4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}
      .men{
      background: ;
      position: absolute;
      margin-top: 63px;
      }
      .row {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -11px;
      }
      /* ==== GRID SYSTEM ==== */
      .container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      }
      .row {
      position: relative;
      width: 100%;
      }
      .row [class^="col"] {
      float: left;
      margin: 0.5rem 2%;
      min-height: 0.125rem;
      }
      .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12 {
      width: 96%;
      }
      .col-1-sm {
      width: 4.33%;
      }
      .col-2-sm {
      width: 12.66%;
      }
      .col-3-sm {
      width: 21%;
      }
      .col-4-sm {
      width: 29.33%;
      }
      .col-5-sm {
      width: 37.66%;
      }
      .col-6-sm {
      width: 46%;
      }
      .col-7-sm {
      width: 54.33%;
      }
      .col-8-sm {
      width: 62.66%;
      }
      .col-9-sm {
      width: 71%;
      }
      .col-10-sm {
      width: 79.33%;
      }
      .col-11-sm {
      width: 87.66%;
      }
      .col-12-sm {
      width: 96%;
      }
      .row::after {
      content: "";
      display: table;
      clear: both;
      }
      .hidden-sm {
      display: none;
      }
      @media only screen and (min-width: 540px) {  /* 540px */
      .container {
      width: 80%;
      }
      
      .fullnav {
      display: none;
      }
      .mobilelnav {
      display: block;
      }
      }
      @media only screen and (min-width: 720px) {  /* 720px */
      .fullnav {
      display: none;
      }
      .mobilelnav {
      display: block;
      }
      .col-1 {
      width: 4.33%;
      }
      .col-2 {
      width: 12.66%;
      }
      .col-3 {
      width: 21%;
      }
      .col-4 {
      width: 29.33%;
      }
      .col-5 {
      width: 37.66%;
      }
      .col-6 {
      width: 46%;
      }
      .col-7 {
      width: 54.33%;
      }
      .col-8 {
      width: 62.66%;
      }
      .col-9 {
      width: 71%;
      }
      .col-10 {
      width: 79.33%;
      }
      .col-11 {
      width: 87.66%;
      }
      .col-12 {
      width: 96%;
      }
      .hidden-sm {
      display: block;
      }
      }
      .lst {
      background-color: #fff;
      line-height: 1.5rem;
      padding: 10px 0px;
      margin: 0;
      border-bottom: 1px solid #e0e0e0;
      }
      @media only screen and (min-width: 960px) { /* 960px */
      .fullnav {
      display: none;
      }
      .mobilelnav {
      display: block;
      }
      /*.xht{height: 350px;}*/
      .container {
      width: 75%;
      max-width: 60rem;
      }
      }
      .xht {  }
      .le{margin-left: 71px;} .fixed{    position: fixed;}.nopadding{    padding: 0px;}   .shado{-webkit-box-shadow: 0px -1px 5px 0px rgba(153,153,153,1);
      -moz-box-shadow: 0px -1px 5px 0px rgba(153,153,153,1);
      box-shadow: 0px -1px 5px 0px rgba(153,153,153,1);}
      .mi{border-bottom: 1px #e5e5e5 solid;
      font-family: Lato;
      padding:20px;
      list-style-type: none;
      text-align: center;
      }
      @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
      }
      .home-header {
      width: 100%;
      height: 87vh;
      text-align:center;
      background: rgba(0, 0, 0, 0.04);
      background-image: url(#{cover});
      background-size: cover;
      opacity: 1;
      }
      .home-title {
      position: relative;
      top: 52%;
      font-size: 300%;
      text-transform: uppercase;
      }
      .home-text {
      position: relative;
      top: 58%;
      font-size: 150%;
      text-transform: lowercase;
      }
      .fnav{color: #848484;
      float: right;
      margin-right: 10%;}      
      .mbar{height:75px;padding-top:8px;padding-left:6%;-webkit-box-shadow:0px 4px 5px 0px rgba(196,196,196,1);-moz-box-shadow: 0px 4px 5px 0px rgba(196,196,196,1);box-shadow: 0px 4px 5px 0px rgba(196,196,196,1);}
      .testFont{
      font-family: Lato;
      color: #848484;
      }
  for store in stores
     link(rel='preload', href="/bits/?s="+store.id)
  body.testFont
    mixin listpromo(item,title,desc,id,discount)
           amp-img(src=item, width='400', height='200', layout='responsive', alt=title)
           amp-fit-text.caption.center(layout='responsive', width='500', height='250')
           span(class='shpNm') #{title}
           br
           span(class='shpDesc')
            | #{desc}
            br
            br
           a.btn(href="/bits/?s="+id) open

    mixin liststore(item,title,desc,id)
            .card.horizontal
              .card-image
                amp-img(src=item, width='70', height='135', alt=title)
              .card-stacked
                .card-content.sub(class='shpDesc')
                  p  #{title} 
                  p  #{desc}
                .card-action
                  a(href="/bits/?s="+id)  Visit shop

                //           .lst
                //            
                //            .shp
                //              a.btn2(
                //              br
                //              span

   
   
    amp-font(layout='nodisplay', font-family='Lato', timeout='3000')
    //header.ampstart-headerbar.fixed.flex.justify-start.items-center.top-0.left-0.right-0.pl2.pr4
      
      //
        <div class="fullnav fnav">
        Home | About us | Contacts | Sign in
        </div>
    //      nav.mobilelnav
    //        ul
    //          li
    //            | ☰
    //            ul.nopadding
    //              li.mi
    //                a(href='/') Home
    //              // <li class="mi"> About us</li>
    //              li.mi Contact us
    //              li.mi Sign in
    //        #closemenu ×
    //    br
    //    br
    //    br
    //    br
    // ## Basic Usage
    //
      The `amp-sidebar` should be a direct child of the `<body>`. It must have a layout of `nodisplay`. The`amp-sidebar` may not contain any AMP Elements except for `amp-accordion`, `amp-img` and `amp-fit-text`. `amp-fit-text` expands or shrinks its font size to fit the content within the space given to in the menu.
    //
      <amp-sidebar id="sidebar" layout="nodisplay" side="right">
      <amp-img class="amp-close-image" src="/img/ic_close_black_18dp_2x.png" width="20" height="20" alt="close sidebar" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
      <ul class="">
      <li class="mi"> About us</li>
      <li class="mi">
      <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
      Contact us
      </amp-fit-text>
      </li>
      <li class="mi">
      <amp-fit-text width="220" height="20" layout="responsive" max-font-size="24">
      Sign in
      </amp-fit-text>
      </li>
      </ul>
      </amp-sidebar>
    .mbar
      a.my0.mx-auto(href='/')          
                amp-img.bxshadow.b.circle(src=img, height='70', width='70', alt='')
    .row.mtp
         .x.xht
            
            div.home-header
              div.home-title
               br
               | #{name}
              div.home-text
               | #{tagline}
            form(method='GET', action='#', target='_top')
              input(name='search', type='search', placeholder='Search')
              input(type='submit', value='')
            
    .row.topm
       .col-9.bgc
            amp-carousel(height='300', layout='fixed-height', type='slides')
                for promo in promos
                    +listpromo(promo.promoBanner,promo.promoName,promo.promoDesc,promo.promoOwner,promo.discount)
       .col-3
           for store in stores
            +liststore(store.banner,store.name,store.desc,store.id)
      
            //    .row
            //        .col-6 Our products & Services
            //        .col-6 Connect with us